# ignore all the backup files created by editors
*~
*.so
*.o

# things to ignore in directory SKPokerEvalR/src
src/Makevars
extdata/
src/*.o
src/*.so
src/symbols.rds

src/SKPokerEval/
inst/doc
vignettes/*pdf
vignettes/*html

.Rhistory
R/.Rhistory

.DS_Store
.Rproj.user
